.App {
  text-align: center;
}

.switch {
    background-color: aqua;

}

.switch p {
    display: inline;
}

.slider {
    position : absolute;
    left: 50vw;
    width : 25px;
    height : 25px;
    background-color: gray;
    border-radius: 50%;
    display: none;
}